// Brand Colors
$primary: #182CE4
$secondary: #98C8DB
$tertiary: #F5BBBB

// UI Colors
$ui1: #191D3A
$ui2: #3A3E63
$ui3: #666B96
$ui4: #9FA2BA
$ui5: #F3F3FB
$ui6: #FCFCFF

// Support Color
$green: #92C147
$orange: #E6A23C
$red: #E35D33
$white: #FFFFFF
